/* styling */

body {
    background-color:black;
    font-family: noteworthy;

}

h2 {
    font-style:normal;
    color: grey;
}

p{
    font-style: bold;
}





/* Navigation bar */

ul {
    display: flex;
}
a {
    text-decoration: none;
}

li {
    list-style-type: none;
    margin: 1em;
}


.menu {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 1rem;
    }

article.course {
    display: flex;
    flex-flow: column;
    border: 1px solid black;
    background: gray;
}

article > figure {
    order: -1;
    align-self: center;
    width: minmax(300px, 1fr);
}

.price {
    text-align: right;
}

h3 {
    text-align: center;
}

.description {
    text-align: center;
}


footer {
    background: greenyellow;
    margin: 0;
}


