/* styling */

header {
    background-color: rgb(0, 0, 0, 0.6);
    padding: 0 0 0 2vw;
}

body {
/*
    background-image: url(background.jpg);
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: lighten;
*/
    /*    opacity: 0.6;*/
    /*    font-family: noteworthy;*/
/*    background: black;*/
    
        margin: 0;
    font-family: avenir;
}

main {
    background: grey;
}

main {
    padding: 15px;
}

h1,
h2,
h3 {
    font-weight: normal;
    color: aliceblue;
    text-transform: capitalize;
    font-family: futura;
}

h1,
h2 {
    margin-left: 5vh;
    font-size: 28px;
    margin-bottom: auto;
}


p {
    font-style: bold;
    color: aliceblue;
}

.fullPrice {
    font-size: 20px;
}


.logo {
    padding: 15px 0px 0px 15px;
    width: 300px
}


article.course {
    border: 1px solid black;
    background-color: rgb(0, 0, 0, 0.5);
}




/* Navigation bar */

nav {
    padding-right: 5vw;
    float: right;

}

ul {
    display: flex;

}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
    margin: 1em;
}

li a {
    color: white;
    font-weight: normal;
    margin: 6px;
    text-transform: capitalize;
}

.menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1rem;
}

h2 {
    grid-column: 1/-1;
}

article.course {
    display: flex;
    flex-flow: column;
}

figure.courseImg {
    order: -1;
    align-self: center;
    width: minmax(300px, 1fr);
}

.menuImg {
    width: 100%;
}



.price {
    text-align: right;
}

h3 {
    text-align: center;
}

.description {
    text-align: center;
}


footer {
    background-color: black;

}

button {
    margin-top: auto;
}
/*extras*/

.veggieImg {
    position: absolute;
    width: max(50px);
    padding-top: 10px;
    padding-left: 6px;
    align-self: left;
    opacity: 0.9;
}


.soldOut {
    opacity: 0.3;
    color:lightgray;
}


.soldOutImg {
    position: absolute;
    width: max(250px);
    padding-top: 150px;
    align-self: center;
    opacity: 1;
}



/*
    align-self: center;
    width: minmax(100px, 10px);
*/

.discountPrice {
    text-decoration: line-through;
    color:lightgray;
    
}

.vegetarian {
    color: green;
    /*    order: -1;*/
    /*    margin: 0px;*/
    /*    padding-right: 0px;*/
}


.hide {
  display: none;
}

.modal-background {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fefefe;
    border: 1px solid #7c1f17;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10vh;
    padding: 2em;
    width:80vw;
}

.modal-name, .modal-description{
    color: black;
}

.modal-figure {
    width:40vw;
    margin-right: auto;
    margin-left: auto;
}

.modal-content {

/*

*/
}


@media only screen and (max-width:920px) {

    nav {
        /*    padding-right: 5vw;*/
        /*    float:right;*/
        margin-right: auto;
        margin-left: auto;
    }

    header {
        padding: 0;
        display: grid;
    }

    .logo {
        margin-right: auto;
        margin-left: auto;
        width: 300px
    }





}
