.menu {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 1rem;
    }

article.course {
    display: flex;
    flex-flow: column;
}

article > img {
    order: -1;
    align-self: center;
}

